# Default CODEOWNERS file for the Ystorian repositories on GitHub.
# <!-- markdownlint-disable-file -->

# Format: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Usage:
# The team `@ystorian/codeowners` is the default owner for everything (*).
# The team of code owners for this repository, must be added on the same line
#   - this team is usually named with the same name as the repository
#   - this team must have explicit Write access to the repository
# - available teams: https://github.com/orgs/ystorian/teams/ystorians/teams


* @ystorian/codeowners

################################################################################
#
# The section below is only for the ystorian/template repository, and must be
# removed for all other repositories.
#
################################################################################
# CODEOWNERS file for ystorian/template
* @ystorian/codeowners @ystorian/template
